VITE_SUPABASE_URL=https://tfwclxxcgnmndcnbklkx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6nH5bk7sz56ibtYFKI8V_w_pZugXven
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmd2NseHhjZ25tbmRjbmJrbGt4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDczNjE3NSwiZXhwIjoyMDkwMzEyMTc1fQ.s2_6MWYcb-nW84UHqZMkcZPj1G2muzt5OJKNrs6bz8g
RESEND_API_KEY=re_9dzBp9Xs_8B2xrm9QwEqswDChdMozK5MH
APP_URL=https://crm.targetagrotech.com.br
VITE_GEMINI_API_KEY=AIzaSyCgXRUyTH_H3-njVuV_NdDRYkj8nrNhyDI
TARGET_API_KEY=target_n8n_integration_key_sec_2026
