VITE_SUPABASE_URL=https://tfwclxxcgnmndcnbklkx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6nH5bk7sz56ibtYFKI8V_w_pZugXven
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
RESEND_API_KEY=re_a4JWm7FX_DR8ZSd8YejUrYYMD3XLvxRHm
VITE_GEMINI_API_KEY=AIzaSy...coloque_sua_chave_aqui